include /admin/components/button-danger

mixin block-wrapper(title, index, blockIndex, extraClass)
  .accordion-item.cms-block
    .row
      h2.col-11.accordion-header(id=`heading-${index}-${blockIndex}`)
        button.accordion-button.collapsed(
          class=extraClass
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target=`#collapse-${index}-${blockIndex}`
          )= title
      .col-1.block-handle
        i.bi.bi-grip-horizontal

    .accordion-collapse.collapse(id=`collapse-${index}-${blockIndex}`)
      ul.list-group.list-group-flush.accordion-body
        li.list-group-item
          block