include /admin/components/link-button-primary

.py-2.px-4.bg-dark.rounded-bottom.border-top
  .row
    .col
      if page.publishedDate
        +link-button-primary(site.baseURL+`${page.permalink}`,'View Published', "", "binoculars")
      else
        button.btn.btn-primary(class=extraClass type='button' disabled)  
          i.me-2.bi(class=`bi-binoculars`)
          span View Published
          
      span.mx-2
      if page.permalink
        +button-primary('Publish Draft', "page-publish-draft", "pencil-square", page.permalink)
      else
        +button-primary('Publish Draft', "page-publish-draft", "pencil-square", "home")

    .col
      if page.permalink
        +link-button-primary(site.baseURL+`admin/drafts/${page.permalink}`,'View Draft', "view-draft", "binoculars")
      else
        +link-button-primary(site.baseURL+`admin/drafts/home`,'View Draft', "view-draft", "binoculars")
      span.mx-2
      +button-primary('Save Draft', "page-draft-update", "save2")

    // Template Selection
    .col.input-group
      select.form-select#select-template
        for section in site.sections
          option(value=`${section}-template`)= section

      +button-primary('Add Section', 'section-add')

// Templates
for section in site.sections
  template(id=`${section}-template`)
    +#{section}({}, "qq0q", "bg-info")
