include /admin/components/button-danger

mixin wrapper(title, index, wrapperType, extraClass)

  .accordion-item(class=wrapperType)
    .row
      h2.col-11.accordion-header(id=`heading-${index}`)
        button.accordion-button.collapsed(
          class=extraClass
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target=`#collapse-${index}`
          )= title
      .col-1.handle
        i.bi.bi-grip-horizontal

    .accordion-collapse.collapse(id=`collapse-${index}`)
      ul.list-group.list-group-flush.accordion-body
        li.list-group-item
          block

        li.list-group-item.d-flex.justify-content-end
          +button-danger("Delete Section", "section-delete", title)