.py-2.px-4.bg-dark.rounded-bottom.border-top
  .row
    .col
      +button-primary('View Published', "", "binoculars")
      span.mx-2
      +button-primary('Publish Draft', "", "pencil-square")

    .col
      +button-primary('View Draft', "view-draft", "binoculars")
      span.mx-2
      +button-primary('Save Draft', "page-draft-update", "save2")

    // Template Selection
    .col.input-group
      select.form-select#select-template
        option(value="text-template") Text
        option(value="column-template") Column

      +button-primary('Add Section', 'add-section')

// Templates
template(id="text-template")
  .accordion-item.cms-section.overflow-hidden
    .row
      .col-1.handle.bg-light
        i.bi.bi-grip-horizontal
      h2.col-11.accordion-header(id="headingqq0q")
        button.accordion-button.collapsed(
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target="#collapseqq0q"
          ) Text
    .accordion-collapse.collapse(id="collapseqq0q")
      include text

template(id="column-template")
  .accordion-item.cms-section.overflow-hidden
    .row
      .col-1.handle.bg-light
        i.bi.bi-grip-horizontal
      h2.col-11.accordion-header(id="headingqq0q")
        button.accordion-button.collapsed(
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target="#collapseqq0q"
          ) Column
    .accordion-collapse.collapse(id="collapseqq0q")
      include column